@import url('https://fonts.googleapis.com/css?family=Orbitron');


.fild {
    background: aqua;
    width: fit-content;
    height: fit-content;
}

.conteiner {
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: stretch;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 19%;
    color: red;
    background: black;
    font-size: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    border-radius: 4px;
    align-items: center;
}

.rou {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.button {
    margin: 1px;
    background: rgba(72, 72, 72, 0.59);
    width: 40px;
    height: 40px;
}

.button:hover {
    background: rgb(5, 69, 23);
    border-radius: 3px;
}

.button-bomb {
    margin: 1px;
    background: rgb(255, 0, 0);
    width: 40px;
    height: 40px;
}

.button-bomb-heppi {
    margin: 1px;
    background: rgb(0, 255, 64);
    width: 40px;
    height: 40px;
}

.not-button-bomb {
    margin: 1px;
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    font-weight: 900;
}
/*.not-button-bomb:disabled {
    background: rgb(255, 255, 255);
    }*/

.restart {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
    margin: 1px;
    background: rgb(103 247 255);
}