ul,
ol,
li {
    list-style: none;
}


.fild {
    display: flex;
    padding: 1%;
    margin: 1%;
    background: #696969;
    flex-direction: column;
    border-radius: 3px;
}

.conteiner {
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    display: flex;
    position: relative;
    max-width: 1280px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.conteiner__game {
    padding: 1%;
    background: silver;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.menu {
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.box {
    position: relative;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
    width: 60px;
    color: black;
    background: #696969;
    font-size: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2px;
}

.box:hover {
    background: #1d1d1d;
}

.select {
    cursor: pointer;
    margin: 5%;
    text-align: center;
    width: 95%;
    height: 15%;
    color: black;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 4px;
    align-items: center;
}

.box .select {
    background: inherit;
}

.select:hover {
    background: #1d1d1d;
}

.rou {
    display: flex;
    justify-content: space-around;
}

.button {
    background: rgb(0 0 0 / 60%);
    width: 40px;
    height: 40px;
}

.button:hover {
    background: rgb(5 69 23/ 60%);
    border-radius: 3px;
}

.button-bomb {
    background: rgb(255 0 0/ 60%);
    width: 40px;
    height: 40px;
}

.button-bomb-heppi {
    background: rgb(0 255 64/ 60%);
    width: 40px;
    height: 40px;
}

.not-button-bomb {
    background: rgb(255 255 255/ 60%);
    width: 40px;
    height: 40px;
}

.button-easy {
    background: rgb(0 0 0 / 60%);
    width: 40px;
    height: 40px;
}

.button-easy:hover {
    background: rgb(5 69 23/ 60%);
    border-radius: 3px;
}

.button-bomb-easy {
    background: rgb(255 0 0/ 60%);
    width: 40px;
    height: 40px;
}

.button-bomb-heppi-easy {
    background: rgb(0 255 64/ 60%);
    width: 40px;
    height: 40px;
}

.not-button-bomb-easy {
    background: rgb(255 255 255/ 60%);
    width: 40px;
    height: 40px;
}

.button-difficult {
    background: rgb(0 0 0 / 60%);
    width: 40px;
    height: 40px;
}

.button-difficult:hover {
    background: rgb(5 69 23/ 60%);
    border-radius: 3px;
}

.button-bomb-difficult {
    background: rgb(255 0 0/ 60%);
    width: 40px;
    height: 40px;
}

.button-bomb-heppi-difficult {
    background: rgb(0 255 64/ 60%);
    width: 40px;
    height: 40px;
}

.not-button-bomb-difficult {
    background: rgb(255 255 255/ 60%);
    width: 40px;
    height: 40px;
}

.button-advanced {
    background: rgb(0 0 0 / 60%);
    width: 40px;
    height: 40px;
}

.button-advanced:hover {
    background: rgb(5 69 23/ 60%);
    border-radius: 3px;
}

.button-bomb-advanced {
    background: rgb(255 0 0/ 60%);
    width: 40px;
    height: 40px;
}

.button-bomb-heppi-advanced {
    background: rgb(0 255 64/ 60%);
    width: 40px;
    height: 40px;
}

.not-button-bomb-advanced {
    background: rgb(255 255 255/ 60%);
    width: 40px;
    height: 40px;
}

/*.not-button-bomb:disabled {
    background: rgb(255, 255, 255);
    }*/

.button-lou {
    background: rgb(0 0 0 / 60%);
    width: 40px;
    height: 40px;
}

.button-lou:hover {
    background: rgb(5 69 23/ 60%);
    border-radius: 3px;
}

.button-bomb-lou {
    background: rgb(255 0 0/ 60%);
    width: 40px;
    height: 40px;
}

.button-bomb-heppi-lou {
    background: rgb(0 255 64/ 60%);
    width: 40px;
    height: 40px;
}

.not-button-bomb-lou {
    background: rgb(255 255 255/ 60%);
    width: 40px;
    height: 40px;
}

.restart {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
    margin: 1px;
    background: rgb(103 247 255);
}

.menu__list {
    margin: 0;
    padding: 0;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 46px;
    width: 0;
    background: #696969;
}

.menu__list.active {
    width: fit-content;
    display: flex;
    transition-duration: 1.0s;
    height: fit-content;
    border: 1px solid #000000;
    flex-direction: column;
    justify-content: center;
}

.menu__item {
    cursor: pointer;
}

.menu__item:hover {
    background: #292929;
}

.menu__list__save {
    margin: 0;
    padding: 0;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 46px;
    width: 0;
    background: #696969;
}

.menu__list__save.active {
    width: fit-content;
    display: flex;
    transition-duration: 1.0s;
    height: fit-content;
    border: 1px solid #000000;
    flex-direction: column;
    justify-content: center;
}

.menu__save__item {
    cursor: pointer;
}

.menu__save__item:hover {
    background: #292929;
}

@media (max-width:970px) {

    .button-advanced {
        width: 35px;
        height: 35px;
    }

    .button-bomb-advanced {
        width: 35px;
        height: 35px;
    }

    .button-bomb-heppi-advanced {
        width: 35px;
        height: 35px;
    }

    .not-button-bomb-advanced {
        width: 35px;
        height: 35px;
    }

}

@media (max-width:850px) {

    .button-advanced {
        width: 30px;
        height: 30px;
    }

    .button-bomb-advanced {
        width: 30px;
        height: 30px;
    }

    .button-bomb-heppi-advanced {
        width: 30px;
        height: 30px;
    }

    .not-button-bomb-advanced {
        width: 30px;
        height: 30px;
    }

}

@media (max-width:750px) {

    .button-advanced {
        width: 25px;
        height: 25px;
    }

    .button-bomb-advanced {
        width: 25px;
        height: 25px;
    }

    .button-bomb-heppi-advanced {
        width: 25px;
        height: 25px;
    }

    .not-button-bomb-advanced {
        width: 25px;
        height: 25px;
    }

}


@media (max-width:620px) {

    .button-advanced {
        width: 20px;
        height: 20px;
    }

    .button-bomb-advanced {
        width: 20px;
        height: 20px;
    }

    .button-bomb-heppi-advanced {
        width: 20px;
        height: 20px;
    }

    .not-button-bomb-advanced {
        width: 20px;
        height: 20px;
    }

    .button-difficult {
        width: 35px;
        height: 35px;
    }

    .button-bomb-difficult {
        width: 35px;
        height: 35px;
    }

    .button-bomb-heppi-difficult {
        width: 35px;
        height: 35px;
    }

    .not-button-bomb-difficult {
        width: 35px;
        height: 35px;
    }

    .box {
        width: 50px;
        font-size: 55%;
    }
}

@media (max-width:500px) {

    .button-difficult {
        width: 25px;
        height: 25px;
    }

    .button-bomb-difficult {
        width: 25px;
        height: 25px;
    }

    .button-bomb-heppi-difficult {
        width: 25px;
        height: 25px;
    }

    .not-button-bomb-difficult {
        width: 25px;
        height: 25px;
    }

    .button-easy {
        width: 30px;
        height: 30px;
    }

    .button-bomb-easy {
        width: 30px;
        height: 30px;
    }

    .button-bomb-heppi-easy {
        width: 30px;
        height: 30px;
    }

    .not-button-bomb-easy {
        width: 30px;
        height: 30px;
    }

    .box {
        width: 50px;
    }
}

@media (max-width:375px) {

    .button-difficult {
        width: 20px;
        height: 20px;
    }

    .button-bomb-difficult {
        width: 20px;
        height: 20px;
    }

    .button-bomb-heppi-difficult {
        width: 20px;
        height: 20px;
    }

    .not-button-bomb-difficult {
        width: 20px;
        height: 20px;
    }

    .box {
        width: 45px;
    }
}